<form action="/task/add" method="POST">

  <div>
    <label for="title">Escribe un título:</label>
    <input type="text" name="title" placeholder="Title" id="title" />
  </div>
  <div>
    <label for="description">Escribe la descripción</label>
    <textarea
      name="description"
      placeholder="Descripción"
      id="description"
    ></textarea>
  </div>

  <button>Add</button>

</form>