<div class="container">
  <div class="row">
    <div class="col-12">
      <div class="row g-3">
        <div class="col-sm-12">
          <div class="card text-bg-secondary mb-3 align-items-center">
            <div class="card-header"> <h3>Bienvenido a la página de administración</h3></div>
          </div>
        </div>
      </div>
      <p>Descargar planillas de usuarios</p>
      <div>
      <form method="post" action="/administracion/PF" style="display: inline-block; margin-right: 10px;">
        <button class="btn btn-secondary" data-bs-toggle="tooltip" data-bs-placement="top" data-bs-custom-class="custom-tooltip" data-bs-title="Planilla de personas físicas">Personas Físicas</button>
      </form>
      <form method="post" action="/administracion/PJ" style="display: inline-block;">
        <button class="btn btn-secondary" data-bs-toggle="tooltip" data-bs-placement="top" data-bs-custom-class="custom-tooltip" data-bs-title="Planilla de personas jurídicas">Personas Jurídicas</button>
      </form>
    </div>
    </div>
  </div>
</div>