<div class="container-md"><div class="row"><div class="col-md-5 offset-md-3">
  <div class="card card-body bg-dark rounded-0 p-4 text-white">
  <h1>Actualiza una tarea</h1>
  <form action="/task/{{task._id}}/edit" method="post">
    <div class="mb-3">
      <input
      type="text"
      name="title"
      placeholder="Title"
      value="{{task.title}}"
      class="form-control rounded-0 bg-dark text-white"
    />
    </div>
   <div class="mb-3">
     <textarea
      name="description"
      rows="3"
      placeholder="Añade una descripción"
      class="form-control rounded-0 bg-dark text-white"
    >{{task.description}}</textarea>
   </div>
    
    <button class="btn btn-primary">Update</button>
  </form>
</div>
</div>
