<div class="container-md">
  <div class="row justify-content-center align-items-center">
    <div class="col-md-6">
      <div class="alert alert-danger" role="alert">
        Acceso a personas YA REGISTRADAS en REPA!
      </div>
    </div>
  </div>
  {{!-- Header --}}
  <div class="row g-3 mb-4">
    <div class="col-sm-12">
      <div class="card text-bg-secondary mb-3 align-items-center">
        <div class="card-header"> <h3>Ingreso al RePA</h3></div>
      </div>
    </div>
  </div>
  <div class="row justify-content-center align-items-center"><div class="col-md-6">

      <form "/signin" method="post" >
        <div class="mb-3">
          <input type="text" name="usuario" placeholder="Usuario (DNI sin puntos)" class="form-control rounded-0 bg-white text-dark" onkeyup="this.value=Numeros(this.value)" autofocus>
        </div>
        <div class="mb-3">
          <input type="password" name="password" placeholder="Contraseña" class="form-control rounded-0 bg-white text-dark">
        </div>
        <button class="btn btn-secondary"> Ingresar</button>
      </form>
    </div>
 

<script>
  function Numeros(string){//Solo numeros
    var out = '';
    var filtro = '1234567890';//Caracteres validos
	
    //Recorrer el texto y verificar si el caracter se encuentra en la lista de validos 
    for (var i=0; i<string.length; i++)
       if (filtro.indexOf(string.charAt(i)) != -1) 
             //Se añaden a la salida los caracteres validos
	     out += string.charAt(i);
	
    //Retornar valor filtrado
    return out;
  }
</script>