<div class="container-md">
  <div class="row justify-content-center align-items-center">
    <div class="col-md-6">
      <div class="alert alert-warning" role="alert">
        Acceso a personas YA REGISTRADAS en REPA!
      </div>
    </div>
  </div>
  <div class="row justify-content-center align-items-center"><div class="col-md-6">
    <div class="card card-body rounded-2 p-4 text-dark position-relative">
      <h1>Ingreso a RePA</h1>
      <form "/signin" method="post" >
        <div class="mb-3">
          <input type="text" name="usuario" placeholder="Usuario (DNI sin puntos)" class="form-control rounded-0 bg-white text-dark" autofocus>
        </div>
        <div class="mb-3">

          <input type="password" name="password" placeholder="Contraseña" class="form-control rounded-0 bg-white text-dark">

        </div>
    
          <button class="btn btn-dark">Ingresar</button>
       </form>
  </div>
  <pre>

</pre>
<div class="alert alert-primary d-flex align-items-center" role="alert">
  <div class="row">
    <div class="col-12">
      Aún no estas registrado al SISTEMA ? >>> <a class="btn btn-primary" role="button" aria-disabled="true" href="./signup">Registrarse al RePA</a>
    </div>
  </div>
</div>

</div>
