<div class="container-fluid">
    <div class="row-g-3">
        <div class="col-sm-12">
            <div class="card" style="width: 74rem;">
                <img src="https://iaavim.unam.edu.ar/images/imagenes/nuevo_logo_colores_xg.png" class="card-img-top" alt="LOGO IAAVIM" width="637">
                <div class="card-body">
                    <h3 class="card-title align-items-center">Formulario de Registro IAAViM</h3>
                    <p class="card-text">El formulario fue completado exitosamente. Gracias!</p>
                </div>
            </div>
        </div>
    </div>
</div>
