<div class="container-md">
  <div class="row justify-content-center align-items-center">
    <div class="col-md-6">
      <div class="alert alert-danger" role="alert">
        Acceso a cambio de CONTRASEÑA DE USUARIO
      </div>
    </div>
  </div>
  {{!-- Header --}}
  <div class="row g-3 mb-4">
    <div class="col-sm-12">
      <div class="card text-bg-secondary mb-3 align-items-center">
        <div class="card-header"> <h3>Restablecer Contraseña</h3></div>
      </div>
    </div>
  </div>
  <div class="row justify-content-center align-items-center">
    <div class="col-sm-12">

      <form "/password" method="post">
          <div class="form-group">
            <input
              type="email"
              class="form-control"
              id="email"
              placeholder="Ingrese su correo electrónico"
              name="email"
            />
          </div>
          <pre>

          </pre>
          <div class="alert alert-primary d-flex align-items-center" role="alert">
      <div class="row">
        <div class="col-12">
          <button type="submit" class="btn btn-secondary" aria-disabled="true">Enviar</button>
      </div>
    </div>
        </form>
    </div>
    
</div>
 