<div class="container">
  <div class="row justify-content-center">
    <div class="col-md-12">
    {{!-- Header --}}
  <div class="row g-3 mb-12">
    <div class="col-sm-12">
      <div class="card text-bg-secondary mb-3 align-items-center">
        <div class="card-header"> <h3>Restablecer Contrase単a</h3></div>
      </div>
    </div>
  </div>
      <form method="POST" action="/reset-password/{{token}}">
        <input type="hidden" name="email" id="email" value={{email}} />
        <div class="mb-3">
          <label for="password" class="form-label">Nueva Contrase単a</label>
          <input
            type="password"
            name="password"
            id="password"
            class="form-control"
            required
          />
        </div>
        <div class="mb-3">
          <label for="confirm_password" class="form-label">Confirmar Contrase単a</label>
          <input
            type="password"
            name="confirm_password"
            id="confirm_password"
            class="form-control"
            required
          />
        </div>
        <pre>

          </pre>
          <div class="alert alert-primary d-flex align-items-center" role="alert">
      <div class="row">
        <div class="col-12">
          <button type="submit" class="btn btn-secondary" aria-disabled="true">Enviar nueva Contrase単a</button>
      </div>
      </form>
    </div>
  </div>
</div>