<div class="navbar fixed-bottom navbar-dark bg-dark">
    
            <div class="container-fluid justify-content-center">
                <a class="navbar-brand" href="#"> 2022 - IAAVIM © Todos los Derechos Reservados -  Colón 1628, Posadas - Misiones</a>
            </div>

</div>