<div class="navbar fixed-bottom navbar-dark bg-dark">
    
            <div class="container-fluid justify-content-center">
                <p class="navbar-text">IAAviM © Todos los Derechos Reservados-Colón 1628, Posadas-Misiones</p>
            </div>

</div>