<nav class="navbar navbar-dark bg-black mb-4">
  <div class="container">
    <a href="/task" class="navbar-brand">App Formulario</a>
    <a href="/" class="navbar-brand">Ingresar</a>
    <a href="/signup" class="navbar-brand">Registrarse</a>
  </div>
</nav>