{{! Modal }}
<div
  class="modal fade"
  id="pufModal"
  tabindex="-1"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Preguntas Frecuentes</h5>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
        <div class="container-md">
            <div class="row g-3 mb-12">
                <div class="col-sm-12">
                <div class="card text-bg-secondary mb-3 align-items-center">
                    <div class="card-header"> <h5>¿Qué es el RePA?</h5><pre></pre><p>
                    El RePA es el Registro Provincial del Audiovisual, en el que deberá inscribirse toda persona humana y jurídica que ejerza alguna actividad en cualquier rama de las artes audiovisuales en la provincia de Misiones.
                    Estar registrado/a en en el RePA, es condición indispensable para recibir cualquier tipo de beneficio de la Ley VI 171 de promoción audiovisual de Misiones. La inscripción es gratuíta.
                    </p></div>
                </div>
                </div>
            </div>
            <div class="row g-3 mb-12">
                <div class="col-sm-12">
                <div class="card text-bg-secondary mb-3 align-items-center">
                    <div class="card-header"> <h5>¿Quiénes pueden registrarse?</h5><pre></pre><p>
                    Pueden registrarse en el RePA Personas Humanas o Jurídicas que desarrollen la actividad de forma regular en el sector audiovisual y que NO posean Licencia de Servicios de Comunicación Audiovisual.
                    </p></div>
                </div>
                </div>
            </div>
            <div class="row g-3 mb-12">
                <div class="col-sm-12">
                <div class="card text-bg-secondary mb-3 align-items-center">
                    <div class="card-header"> <h5>¿Cuáles son los requisitos para formar parte del RePA?</h5><pre></pre><p>
                    Las personas interesadas deberán acreditar mediante el Formulario de Declaración Jurada -que aparece de forma online en la página- el cumplimento de
            los siguientes requisitos:
                        <ol>
                        <li>Su efectiva radicación en la Provincia de Misiones, con al menos un (1) año de antigüedad.</li>
                        <li>Haberse desempeñado durante el último año (al momento de iniciar la inscripción) en algunas de las actividades promovidas por la Ley.</li>
                        <li>No poseer deuda exigible con la Provincia.</li>
                        <li>Y en caso de ser empleador/a deberá adjuntar certificación de libre deuda expedida por los sindicatos y las obras sociales que representan a los trabajadores de los medios de comunicación.</li>
                        </ol>
                    </p>
                    <p>
                    *Entiéndase por “ACTIVIDAD PRINCIPAL” del audiovisual a las actividades implicadas al cumplimiento de los objetivos planteados en el artículo 2 de la Ley VI - 171 de Promoción Audiovisual de Misiones, en cuanto se encuentren detalladas en el Nomenclador de Actividades Audiovisuales Misiones (NAAM) Anexo I de la Resolución 2/2017 vigente.
                    </p>
                </div>
                </div>
                </div>
            </div>
            <div class="row g-3 mb-12">
                <div class="col-sm-12">
                <div class="card text-bg-secondary mb-3 align-items-center">
                    <div class="card-header"> <h5>¿Cómo me registro?</h5><pre></pre><p>
                    El trámite de inscripción ante REGISTRO RePA deberá realizarse vía web a través del sitio oficial.
                    </p>
                    <p>
                    <ol>
                        <li>
                            Tratándose de - Personas Humanas; deberá completarse: el Formulario F 01A. Además se deberá adjuntar:
                            <ul>
                            <li>Curriculum Vitae (según modelo establecido).</li>
                            <li>Copia de D.N.I (frente y reverso).</li>
                            </ul>
                        </li>
                        <li>Tratándose de - Personas Jurídicas; se deberá completar el Formulario F 01B. Además se deberá adjuntar:
                        <ul>
                        <li>Copia del Estatuto/Acta de designación de autoridades.</li>
                        <li>Constancia de CUIT.</li>
                        <li>Copia del D.N.I del/ la representante legal/apoderado.</li>
                        </ul></li>
                    </ol>
                    </p></div>
                </div>
                </div>
            </div>
            <div class="row g-3 mb-12">
                <div class="col-sm-12">
                <div class="card text-bg-secondary mb-3 align-items-center">
                    <div class="card-header"> <h5>¿Qué beneficios tienen los integrantes del RePA?</h5><pre></pre><p>
                    Quienes se inscriban en el RePA tendrán los siguientes beneficios:
                    <ol>

                            <li>Incorporación al mapa de la actividad de la región.</li>
                            <li>Comunicación personalizada sobre las novedades del organismo y del sector.</li>
                            <li>Posibilidad de ser considerado para la contratación dentro del mínimo del 30% del equipo técnico o artístico de una producción audiovisual nacional o
                            internacional, cuando ésta cuente con aval/acompañamiento administrativo/logístico del IAAVIM y se utilicen locaciones en la Provincia de Misiones.</li>
                            <li>Participación de las Líneas de Fomento impulsadas por el IAAviM.</li>
                            <li>Capacitación especializada.</li>
                            <li>Participación activa en las Reuniones de Distrito Audiovisual.</li>
                            
                            </ol>
                    </p></div>
                </div>
                </div>
            </div>
            <div class="row g-3 mb-12">
                <div class="col-sm-12">
                <div class="card text-bg-secondary mb-3 align-items-center">
                    <div class="card-header"> <h5>Vigencia y Permanencia en el RePA</h5><pre></pre><p>
                        Las personas inscriptas en el RePA deberán actualizar sus datos y CV antes de vencer el plazo de vigencia de su inscripción a los fines de permanecer activos en el Registro. En el CV deberá demostrar la realización de al menos una actividad audiovisual durante el último año, de esta manera se acredita la realización de la actividad audiovisual como ocupación principal durante ese periodo. El incumplimiento de esta obligación trae aparejada la baja del Registro.
                    </p></div>
                </div>
                </div>
            </div>
            <div class="row g-3 mb-12">
                <div class="col-sm-12">
                <div class="card text-bg-secondary mb-3 align-items-center">
                    <div class="card-header"> <h5>Vigencia y Permanencia en el RePA</h5><pre></pre><p>
                        Las personas inscriptas en el RePA deberán actualizar sus datos y CV antes de vencer el plazo de vigencia de su inscripción a los fines de permanecer activos en el Registro. En el CV deberá demostrar la realización de al menos una actividad audiovisual durante el último año, de esta manera se acredita la realización de la actividad audiovisual como ocupación principal durante ese periodo. El incumplimiento de esta obligación trae aparejada la baja del Registro.
                    </p><p>
                        <b>Sobre las BAJAS:</b> Para restablecer la inscripción, se deberá ingresar al sitio oficial www.repa.iaavim.gob.ar, actualizar sus datos y documentación, y
                        solicitar la reincorporación enviando un correo electrónico a repa@iaavim.misiones.gob.ar</p>
                    <p><b>Estudiantes:</b> Quienes estudien carreras afines a la actividad audiovisual son exceptuados de la obligación de inscripción en el RePA para ser beneficiarios de líneas de Fomento de primeras obras/ópera prima y participar de las Reuniones de Distrito.         
                    </p>
                    </div>
                </div>
                </div>
            </div>
            <div class="row g-3 mb-12">
                <div class="col-sm-12">
                <div class="card text-bg-secondary mb-3 align-items-center">
                    <div class="card-header"> <h5>¿Qué es el padrón de los trabajadores audiovisuales?</h5><pre></pre><p>
                        El padrón del audiovisual es un documento público en el que se relacionan las personas que trabajan activamente en el sector. Aquellos trabajadores que
                        conforman el padrón tienen derecho a elegir, mediante el voto, al representante del Distrito en periodo de elecciones. El padrón se conforma previo a los comicios y se publica en el sitio web oficial del IAAviM.
                    </p></div>
                </div>
                </div>
            </div>
            <div class="row g-3 mb-12">
                <div class="col-sm-12">
                <div class="card text-bg-secondary mb-3 align-items-center">
                    <div class="card-header"> <h5>¿Qué son las Reuniones de Distrito?</h5><pre></pre><p>
                        Las reuniones de los Distritos Audiovisuales de Misiones son encuentros trimestrales de construcción, de debate sobre la actualidad audiovisual y demandas del sector. Estos espacios tienen el objetivo de consensuar y/o presentar proyectos.
            Lo tratado queda registrado en un acta/documento que el Consejero tiene como deber elevar a las reuniones trimestrales del Consejo Directivo del IAAviM. Por tal razón, las reuniones de los distritos se constituyen en un eslabón fundamental para orientar las acciones del Instituto. En ello reside la importancia de la participación de quienes conforman el RePA. También podrán participar de los Foros Consultivos de Políticas Audiovisuales que tienen lugar cada dos años.
                    </p></div>
                </div>
                </div>
            </div>
            <div class="row g-3 mb-12">
                <div class="col-sm-12">
                <div class="card text-bg-secondary mb-3 align-items-center">
                    <div class="card-header"> <h3>Normativa</h3><pre></pre><h5>
                        Ley VI - 171 de Promoción Audiovisual de Misiones - Resolución 2/2017 vigente.</h5>
                    </div>
                </div>
                </div>
            </div>
      </div>
    </div>
  </div>
</div>

<script>
    $(document).ready(function() {
    $('#pufBtn').click(function() {
      $('#pufModal').modal('show');
    });
  });
    $(document).ready(function() {
    $('#pufBtn2').click(function() {
      $('#pufModal').modal('show');
    });
  });
</script>