{{! Modal }}
<div
  class="modal fade"
  id="pufModal"
  tabindex="-1"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Preguntas Frecuentes</h5>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
        <div class="container-md">
            <div class="row g-3 mb-12">
                <div class="col-sm-12">
                <div class="card text-bg-secondary mb-3 align-items-center">
                    <div class="card-header"> <h5>¿Qué es el RePA y quiénes pueden registrarse?</h5><pre></pre><p>
                    El RePA es el Registro Provincial del Audiovisual de Misiones, Argentina. La inscripción es gratuita y es condición indispensable para recibir cualquier beneficio de la Ley VI 171 de Promoción Audiovisual de Misiones. Pueden registrarse Personas Humanas o Jurídicas que desarrollen la actividad de forma regular en cualquier rama de las artes audiovisuales en la provincia y que no posean Licencia de Servicios de Comunicación Audiovisual.
                    </p></div>
                </div>
                </div>
            </div>
            <div class="row g-3 mb-12">
                <div class="col-sm-12">
                <div class="card text-bg-secondary mb-3 align-items-center">
                    <div class="card-header"> <h5>¿Qué actividades incluye el RePA?</h5><pre></pre><p>
                    Las actividades alcanzadas por el RePA son aquellas vinculadas a la producción, posproducción, capacitación, exhibición y distribución. En el menú del sitio oficial del RePA se puede acceder al nomenclador con el detalle de las áreas de desempeño, actividades complementarias y medios.
                    </p></div>
                </div>
                </div>
            </div>
            <div class="row g-3 mb-12">
                <div class="col-sm-12">
                <div class="card text-bg-secondary mb-3 align-items-center">
                    <div class="card-header"> <h5>¿Cuáles son los requisitos para formar parte del RePA?</h5><pre></pre><p>
                   Las personas interesadas deben acreditar el cumplimiento de los siguientes requisitos:
                        <ul>
                        <li>a.- su efectiva radicación en la provincia de Misiones con al menos un (1) año de antigüedad al momento de iniciar la inscripción.</li>
                        <li>b.- la realización en forma principal de algunas de las actividades promovidas.</li>
                        </ul>
                    </p>
                    <p>
                   Una vez completado el Formulario de Inscripción -con carácter de Declaración Jurada-, se corroborará que los datos ingresados ​​cumplan con los requisitos estipulados por la Ley VI 171. El sistema formulará automáticamente un comprobante con el código de inscripción.
                    </p>
                </div>
                </div>
                </div>
            </div>
            <div class="row g-3 mb-12">
                <div class="col-sm-12">
                <div class="card text-bg-secondary mb-3 align-items-center">
                    <div class="card-header"> <h5>¿Qué beneficios tienen quienes integran el RePA?</h5><pre></pre><p>
                    Quienes se inscriban en el RePA tendrán los siguientes beneficios:
                    </p>
                    <p>
                    <ul>
                        <li>a.- Incorporación al mapa de la actividad de la región. </li>
                        <li>b.- Comunicación personalizada sobre las novedades del organismo y del sector.</li>
                        <li>C.- Posibilidad de ser considerado para la contratación del equipo técnico o artístico de una producción audiovisual nacional o internacional, cuando ésta cuente con aval/acompañamiento administrativo/logístico del IAAviM y se realicen en locaciones de Misiones.</li>
                        <li>d.- Participación de las Líneas de Fomento impulsadas por el IAAviM.</li>
                        <li>e.- Acceso a capacitaciones especializadas.</li>
                        <li>b.- Participación en las Reuniones de Distrito Audiovisual.</li>
                        </ul> 
                    </p></div>
                </div>
                </div>
            </div>
            <div class="row g-3 mb-12">
                <div class="col-sm-12">
                <div class="card text-bg-secondary mb-3 align-items-center">
                    <div class="card-header"> <h5>¿Cuál es la vigencia en el RePA?</h5><pre></pre><p>
                   Las personas inscriptas en el RePA deben actualizar sus datos y currículum vitae antes de que venza el plazo de un año desde su inscripción para permanecer en el Registro. En el currículum vitae se deberá detallar la realización de las actividades audiovisuales comprendidas en ese período. El incumplimiento de esta obligación lleva a la baja del Registro. Para restaurar la inscripción se deberá actualizar en el sitio oficial la documentación y, de corresponder, los datos personales y enviar un correo electrónico a repa@iaavim.gob.ar solicitando la reincorporación.
                    </p></div>
                </div>
                </div>
            </div>
            <div class="row g-3 mb-12">
                <div class="col-sm-12">
                <div class="card text-bg-secondary mb-3 align-items-center">
                    <div class="card-header"> <h3>Estudiantes</h3><pre></pre><p>
                        Quienes estudien carreras afines a la actividad audiovisual -y que no acrediten participación en actividades profesionales como lo indica la Ley VI 171- se encuentran exceptuados de la obligación de inscripción en el RePA para ser beneficiarios de líneas de fomento de primeras obras/ópera prima y participar de las reuniones de distrito.</p>
                    </div>
                </div>
                </div>
            </div>
      </div>
    </div>
  </div>
</div>

<script>
    $(document).ready(function() {
    $('#pufBtn').click(function() {
      $('#pufModal').modal('show');
    });
  });
    $(document).ready(function() {
    $('#pufBtn2').click(function() {
      $('#pufModal').modal('show');
    });
  });
</script>