    <div class="container"></div>
        <div class="row">
        <div class="col-12">
            <div class="card text-bg-dark mb-3 align-items-center">
                <div class="card-header">Instituto de Artes Audiovisuales de Misiones - IAAviM © Todos los Derechos Reservados-Colón 1628, Posadas-Misiones</div>
            </div>
        </div>
        </div>
    </div>
