<nav class="navbar fixed-bottom bg-dark navbar-dark">
  <div class="container-fluid">
    <a class="navbar-brand mx-auto" href="https://www.iaavim.misiones.gob.ar">Instituto de Artes Audiovisuales de Misiones - IAAviM © Todos los Derechos Reservados-Colón 1628, Posadas-Misiones</a>
  </div>
</nav>