<nav class="navbar navbar-dark bg-success">
  <div class="container-fluid">

    <a class="navbar-brand" href="https://www.iaavim.misiones.gob.ar/"><img
        src="https://iaavim.unam.edu.ar/images/imagenes/nuevo_logo_blanco_gg.png"

        alt="Logo"
        width="556"
        height="80"
        class="d-inline-block align-text-top"
      />
    </a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="offcanvas"
      data-bs-target="#offcanvasDarkNavbar"
      aria-controls="offcanvasDarkNavbar"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div
      class="offcanvas offcanvas-end text-bg-success"
      tabindex="-1"
      id="offcanvasDarkNavbar"
      aria-labelledby="offcanvasDarkNavbarLabel"
    >
      <div class="offcanvas-header">
        <h5
          class="offcanvas-title"
          id="offcanvasDarkNavbarLabel"
        >Operaciones</h5>
        <button
          type="button"
          class="btn-close btn-close-white"
          data-bs-dismiss="offcanvas"
          aria-label="Close"
        ></button>
      </div>
      <div class="offcanvas-body">
        <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
          <li class="nav-item">
            {{#if user}}
              <a
                class="nav-link active"
                aria-current="page"
                href="/form"
              >Inicio</a>
            {{/if}}
            {{#unless user}}
              <a class="nav-link active" aria-current="page" href="/">Inicio</a>
            {{/unless}}
          </li>
          {{#unless user}}
            <li class="nav-item">
              <a
                class="nav-link active"
                aria-current="page"
                href="/signup"
              >Registrarse</a>
            </li>
          {{/unless}}
          {{#if user}}
            <li class="nav-item">
              <a class="nav-link" href="#">Descargar formulario de registro</a>
            </li>
            <li class="nav-item dropdown">
              <a
                class="nav-link dropdown-toggle"
                href="#"
                role="button"
                data-bs-toggle="dropdown"
                aria-expanded="false"
              >
                Formulario
              </a>
              <ul class="dropdown-menu dropdown-menu-">
                <li><a class="dropdown-item" href="task/:id/toggledone">Editar
                    formulario</a></li>
                <li><a class="dropdown-item" href="task/:id/delete">Borrar
                    formulario</a></li>
                <li><a class="dropdown-item" href="task/:id/edit">Actualizar
                    formulario</a></li>
                <li>
                  <hr class="dropdown-divider" />
                </li>
                <li><a
                    class="dropdown-item"
                    href="https://iaavim.unam.edu.ar"
                  >Conocer mas del IAAviM</a></li>
              </ul>
            </li>
          {{/if}}
          <li>
            <hr class="" />
          </li>
          <li><a class="dropdown-item" href="https://iaavim.unam.edu.ar">Conocer
              mas del IAAviM</a></li>
          {{#if user}}
            <li>
              <hr class="" />
            </li>
            <li><a class="dropdown-item" href="/logout">Salir</a></li>
          {{/if}}
        </ul>
      </div>
    </div>
  </div>
</nav>