<nav class="navbar navbar-dark bg-secondary">
  <div class="container-fluid">

    <a class="navbar-brand" href="/">
      <img
        src="/icons/Logo_blanco_chico.png"
        alt="Logo"
        width="556"
        height="82"
        class="d-inline-block align-text-top"
      />
    </a>

    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="offcanvas"
      data-bs-target="#offcanvasDarkNavbar"
      aria-controls="offcanvasDarkNavbar"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div
      class="offcanvas offcanvas-end text-bg-secondary"
      tabindex="-1"
      id="offcanvasDarkNavbar"
      aria-labelledby="offcanvasDarkNavbarLabel"
    >
      <div class="offcanvas-header">
        <h5
          class="offcanvas-title"
          id="offcanvasDarkNavbarLabel"
        >Operaciones</h5>
        <button
          type="button"
          class="btn-close btn-close-white"
          data-bs-dismiss="offcanvas"
          aria-label="Close"
        ></button>
      </div>
      <div class="offcanvas-body">
        <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
          <li class="nav-item">
            {{#if user}}
              <a
                class="nav-link active"
                aria-current="page"
                href="/form"
              >Inicio</a>
            {{/if}}
            {{#unless user}}
              <a class="nav-link active" aria-current="page" href="/">Inicio</a>
            {{/unless}}
          </li>
          {{#unless user}}
            <li class="nav-item">
              <a
                class="nav-link active"
                aria-current="page"
                id="termsBtn"
              >Registrarse</a>
            </li>
          {{/unless}}
          {{#if user}}
            {{#if editar}}
              {{#if perJur}}
                <li class="dropdown-item">
                  <a class="nav-link" href="/pdfEm">Descargar formulario de
                    registro</a>
                </li>
              {{else}}
                <li class="dropdown-item">
                  <a class="nav-link" href="/pdf">Descargar formulario de
                    registro</a>
                </li>
              {{/if}}
            {{/if}}

          {{/if}}
          <li>
            <hr class="" />
          </li>
          <li>
            <a
              class="dropdown-item"
              href="/nomenclador_iaavim.pdf"
              download
            >Nomenclador IAAviM</a>
          </li>
          <li>
            <hr class="" />
          </li>
          <a class="dropdown-item" href="/buscador/PF">Buscador Personas REPA</a>
          <li>
          </li>
          <a class="dropdown-item" href="/buscador/PJ">Buscador Empresas REPA</a>
          <li>
            <hr class="" />
          </li>
          <li>
            <a
                class="nav-link active"
                aria-current="page"
                id="pufBtn"
              >Preguntas Frecuentes</a>
          </li>
          {{#if user}}
            <li>
              <hr class="" />
            </li>
            <li><a class="dropdown-item" href="/logout">Salir</a></li>
          {{/if}}
        </ul>
      </div>
    </div>
  </div>
  {{> terminosycondiciones}}
  {{> preguntasfrecuentes}}
  
</nav>